<!DOCTYPE html>
<html lang="es">
<head>
    <!--Normal structure-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/js/bootstrap/bootstrap.min.js">
    <!--CSS, JSS & FONT -->
    <link rel="stylesheet" href="../static/css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    </style>
    <link rel="stylesheet" href="../static/css/w3.css">
    <link rel="stylesheet" href="../static/css/button.css">
    <link href="www.flaticon.com/uicons/css/uicons-solid-rounded.css" rel="stylesheet">

    <title>Heredento's Repository</title>
</head>
<body>
    <nav class="navbar navbar-light roboto bg-custom">
        <div class="container-fluid">
          <a class="navbar-brand " href="#">
            <img src="../static/img/icon.png" width="40" height="40" class="d-inline-block">Heredento's Repository</a>
        <div>
          <p>
            {{hora}}
          </p>
        </div>
        </div>
      </nav>


    <ul class="nav nav-tabs bg-custom roboto">
        <li class="nav-item ">
          <a class="nav-link active" aria-current="page" href="/">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/serial">Serial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/credits">Creditos</a>
        <li class="nav-item right">
            <a class="nav-link disabled">
                Status
                <img src="../static/img/status.png" width="20" height="20">
            </a>
          </li>
            
        </li>
        <!-- Desabilitado:
            <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        -->
        
      </ul>
      <p></p>
      <div class="centered-div">
      <button type="button" class="btp">
        <img src="../static/img/jugar.png" alt="https://www.flaticon.com/uicons" width="18" height="18"></i>
      </button>
      <button type="button" class="btp" >
        Limpiar Salidas
      </button>
</body>
</html>